* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'YouYuan';
}

.blog-conatiner .blog-title {
    text-align: center;
}

.blog-conatiner .blog-content {
    padding: 40px 80px ;
}